
*{
    margin:0;padding:0;
    box-sizing:border-box;
    /* font-family: Arial, Helvetica, sans-serif, sans-serif; */
    font-family: 'Akshar', sans-serif;
}

.container{
    min-height: 100vh;
    width:100%;
    padding-left:8%;
    padding-right:8%;
    box-sizing:border-box;
    overflow:hidden;
}

.navbar{
    width:100%;
    display:flex;
    align-items:center;

}

.logo{
    width:50px;
    cursor:pointer;
    margin:30px 0px;

}

.menu{
    width:25px;
    cursor:pointer;
    display:none;
}

nav{
    z-index:2;
    flex:1;
    text-align:right;
}
nav ul li{
    list-style: none;
    display:inline-block;margin-right:30px;
}

nav ul li a{
    text-decoration: none;
    color:#000;
    font-size:16px;
    letter-spacing: 1px;
    font-weight: 900;
}
nav ul li a:hover{
    color: #276bff;
} 

nav ul li a:focus{
    color: rgb(236, 159, 172);
} 
.row{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:100px 0px;
}

.row .col-1{
    margin-top:10px;
    flex-basis: 40%;
    position: relative;
    margin-left:50px;
}

.col-1 h2{
    font-size:54px;
}

.col-1 h3{
    font-size:34px;
    color:#707070;
    font-weight: 200;
    margin:20px 0 10px 0;
}
.col-1 p{
    font-size:18px;
    color:#b7b7b7;
    font-weight: 200;
    padding-bottom:20px;
}

.col-1 h4{
    margin: 30px 0;
    font-size:24px;
}

button {
    margin: 20px 0px;
    width:140px;
    border:0;
    padding: 12px 10px;
    outline:none;
    color:#fff;
    background:linear-gradient(to right,#276bff, #1b0599);
    border-radius: 24px;
    cursor:pointer;
    transition: all .4s ease-in-out;
}

.buy{
    width:16px;
    height: auto;
    display:none;
}

button:hover{
    width:160px;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

button:hover img{
    display:block;
}

.col-1::after{
    content:'';
    width:10px;
    height:57%;
    background: linear-gradient(to right,#276bff, #1b0599);
    position:absolute;
    left:-15px;
    right: 0px;
    top:8px
}

.row .col-2{

    margin-bottom:0px;
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .controller{
    width:100%;
}

.col-2 .color-box{
    position: absolute;
    right: 0;
    top: 0px;
    border-radius:30% 0 0 30%;
    background:linear-gradient(90deg,#276bff, #1b0599);
    border-radius:20px 0px 0px 20px;
    height:100%;width:70%;
    z-index:-1;
    transform:translateX(120px)
}

.add-btn img{
    width:35px;
    margin-bottom:5px;
}

.add-btn {
text-align:center;
color:#fff;
}

.social-link img{
height:23px;cursor: pointer;
margin:20px;
}
.social-link{
    text-align: center;
}

.price{
    align-items: center;
    display:flex;
}
.current-price{
    justify-content: flex-start;

}
del{
    color: grey;
    display:block;
    margin:0 10px;

    justify-content: flex-start;
}

@media only screen and (max-width:700px){
    nav ul{
        width:100%;
        background:linear-gradient(0deg,#276bff, #1b0599);
        position:absolute;
        top: 75px;
        right:0;
    }

    nav ul li{

        text-align:justify;
        text-align:center;
        display:block;
        margin-top:10px;
        margin-bottom:10px;
    }
    nav ul li a{
        color:#fff;

    }
    
.menu{display:block;
}

#menuList{
    overflow:hidden;
    transition:0.5s;
}

.row{
    flex-direction: column-reverse;
    margin: 50px 0;
}

.col-2 .color-box{
    border-radius:30% 0 0 30%;
    height:90%;width:60%;
    transform:translateX(50px);
}
.add-btn img{
display:none;}
.add-btn{
    display:none;
}

.col-2{
    flex-basis:100%;
    margin-bottom:50px;
}

.col-1{
    flex-basis:100%;

}


.col-1 h2{

    font-size:35px;
}

.col-1 h3{
    font-size:20px;
}

}

/* End Of CSS Work */